USE [master]
GO
/****** Object:  Database [GameSet]    Script Date: 25/12/2024 21:17:42 ******/
CREATE DATABASE [GameSet]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GameSet', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\GameSet.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GameSet_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\GameSet_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GameSet].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GameSet]
GO
/****** Object:  Table [dbo].[Game]    Script Date: 25/12/2024 21:17:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Game](
	[namaGame] [nvarchar](255) NOT NULL,
	[ratingGame] [float] NOT NULL,
	[developerGame] [nvarchar](255) NOT NULL,
	[tahunRilis] [int] NOT NULL
) ON [PRIMARY]
GO
USE [master]
GO
